<div>
    <h2>Nombre: {{guia.nombre}}</h2>
    <h2>Idiomas: {{guia.idiomas|title}}</h2> <!-- Convertimos en mayúscula la primera letra de cada palabra, así tendremos "Español", "Inglés" y "Francés"-->
    <h2>Especialidad: {{guia.especialidad}}</h2>
    <!--<h2>Disponibilidad: {% if guia.disponibilidad == True%} 
                        Disponible{% else %}
                        No disponible{% endif %}</h2>--> <!-- Creo una condición if con disponibilidad porque el valor que tiene guardado
                                                        es booleano, por lo que devuelve un tru o un false, lo cual es poco entendible a 
                                                        nivel humano, con este if, controlo que devuelva 
                                                        "disponible" si tiene un valor true o "no disponible" si su valor es false-->
    <h2>Disponibilidad: {{ guia.disponibilidad|yesno:"Disponible, No disponible, Sin datos" }} <!-- Cambiamos la anterior configuración de if para sacar la 
        disponibilidad en palabras entendibles a nivel humano y lo simplificamos con un filtro yesno. Si el valor es true devuelve el primer valor que 
        configuramos, si el false, el segundo y si es None el tercero-->
    <h2>Museo: {{guia.museo.nombre}}</h2> 
    <h2>Visita guiada:</h2>
    <ul>
        {% for visitaguiada in guia.visita_guiada_guia.all %}
            <li><h3>{{ visitaguiada.nombre_visita_guia }}</h3></li>
        {% endfor %}
    </ul>
<br><br>