<!-- exposicion/busqueda_avanzada.html -->
{% extends "principal.html" %}
{% load django_bootstrap5 %}

{% block contenido %}
<h1>Búsqueda Avanzada de Exposiciones</h1>
<form action="{% url 'exposicion_buscar_avanzado' %}" method="GET">
    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field formulario.titulo show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.descripcion show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fecha_desde show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fecha_hasta show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.museo show_label=True %}
    </div>

    {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}
